<main class="p-5 w-full h-full bg-center
bg-gradient-to-tr to-teal-100 from-teal-200">
  <h1 class="font-bold text-xl text-center">Bem Vindes !!</h1>

  <h3 class="font-light text-xl text-center">Digite um nome de usuario <3</h3>

 <div class="flex justify-center mt-10">
  <input class="border-2 border-violet-600 pl-4" type="text" [(ngModel)]="inputValor" placeholder="User">
  <button class="border-2 font-bold px-4 m-2 bg-black text-slate-50 border-violet-600"
  (click)="entrar()"> Entrar </button>
 </div>
</main>
