<mat-card class="bg-gradient-to-b from-teal-100 to-teal-200 m-2">
  <mat-card-header>
    <mat-card-subtitle>{{ notas?.usuario }}</mat-card-subtitle>
    <mat-card-title>{{ notas?.titulo }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ notas?.descricao }}</p>
  </mat-card-content>
  <mat-card-actions class="flex justify-around content-center mt-4">
    <button mat-button class="my-auto mx-3 font-bold text-xl flex ">
      <mat-icon fontIcon="thumb_up" class="mr-2"> </mat-icon>
       <p>{{ notas?.likes }}</p>
    </button>
    <button mat-button class="my-auto mx-3">
      <mat-icon fontIcon="delete" > </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
