<form class="mx-auto my-5 p-5" (ngSubmit)="enviarFormulario()">
  <mat-form-field class="w-full">
    <mat-label for="titulo" class="text-teal-700">Titulo da nota</mat-label>
    <input matInput [(ngModel)]="formulario.titulo" id="titulo" name="titulo"
    required>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label for="descricao" class="text-teal-700">Descrição</mat-label>
    <textarea matInput [(ngModel)]="formulario.descricao" id="descricao" name="descricao"
    required></textarea>
  </mat-form-field>
  <div class=" flex justify-center my-2 content-center">
    <button mat-button mat-dialog-close class="border-2 font-bold h-12 border-teal-600 px-3 rounded-md
    text-slate-900 bg-teal-50 hover:bg-teal-700 hover:text-teal-50 w-1/3 text-lg"
    type="submit">
      Anotar
    </button>
  </div>


</form>
