<form class="mx-auto my-5 p-5" (ngSubmit)="enviarFormulario()">
  <mat-form-field class="w-full">
    <mat-label for="titulo" class="text-teal-700">Titulo da nota</mat-label>
    <input matInput [(ngModel)]="formulario.titulo" id="titulo" name="titulo"
    class="focus:border-teal-300">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label for="descricao" class="text-teal-700">Descrição</mat-label>
    <textarea matInput [(ngModel)]="formulario.descricao" id="descricao" name="descricao"></textarea>
  </mat-form-field>
  <button mat-button mat-dialog-close class="w-1/4 pb-2 absolute right-3 bottom-2" type="submit">
  <i class="fa-solid fa-notes-medical fa-2xl"></i>
  </button>
</form>
